@import "./_colors.less";
@import "./_typography.less";

*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: @font-family-shoulders;
  font-weight: @fw-regular;
}

.app__map {
  background: @black;
  margin: 0;
  padding: 0;

  .map {
    height: 685px;
    object-fit: cover;
    width: 100%;

    @media (max-width: 1024px) {
      content: url("../assets/desktop/image-map@2x.png");
      height: 600px;
      object-fit: cover;
    }

    @media (max-width: 768px) {
      content: url("../assets/mobile/image-map@2x.png");
      height: 700px;
      object-fit: cover;
    }
  }

}

.btn-normal {
  background: 
    linear-gradient(90deg, @black 204px, @gold 204px);

  &:hover {
    background: 
      linear-gradient(90deg, @gold 204px, @black 204px);
  }
}

.btn-reverse {
  background: 
    linear-gradient(90deg, @gold 56px, @black 56px);
  margin-left: 212px;
  position: absolute;

  @media (max-width: 1024px) {
    margin-left: 39px;
  }

  @media (max-width: 768px) {
    margin-left: 0;
  }

  &:hover {
    background: 
      linear-gradient(90deg, @black 56px, @gold 56px);
  }
}

.btn {
  align-items: center;
  display: flex;
  justify-content: space-around;
  color: @white;
  text-decoration: none;
  border: 0;
  height: 72px;
  width: 260px;
  font-family: @font-family-shoulders;
  font-size: @fs-body-sm;
  font-weight: @fw-semi-bold;
  letter-spacing: 3.636px;
  text-transform: uppercase;
  text-align: start;


  @media (max-width: 1024px) {
    font-weight: @fw-bold;
  }
}

.app__main {

  .app__principal {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;

    
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: end;
      gap: 48px;
    }

    @media (max-width: 768px) {
      align-items: center;
      flex-direction: column;
      gap: 32px;
      justify-content: center;
    }
    
    .black-bg {
      background: @black;
      left: 0;
      height: 800px;
      width: 450px;
      position: absolute;
      top: 0;
      z-index: -1;

      @media (max-width: 1024px) {
        display: none;
      }
    }

    .img-bg {
      background-image: url('../assets/desktop/image-hero.jpg');
      background-repeat: no-repeat;
      left: 450px;
      position: absolute;
      top: 0;
      height: 800px;
      width: 450px;
      z-index: -1;
      
      @media (max-width: 1024px) {
        left: 0;
      }

      @media (max-width: 768px) {
        background-image: url('../assets/mobile/image-hero@2x.jpg');
        background-position: center top;
        background-size: cover;
        position: static;
        height: 500px;
        width: 100%;
      }
    }

    .app__principal-title {
      color: @white;
      font-size: @fs-heading-xl;
      font-weight: @fw-extra-bold;
      line-height: @line-heading-xl;
      margin-top: 189px;
      margin-left: 165px;
      mix-blend-mode: difference;
      text-transform: uppercase;
      width: 514px;

      @media (max-width: 1024px) {
        color: @black;
        font-size: @fs-heading-l;
        line-height: calc(@line-heading-l - 5px);
        mix-blend-mode: normal;
      }

      @media (max-width: 768px) {
        font-size: @fs-heading-m;
        line-height: calc(@line-heading-m + 5px);
        margin: 0;
        width: 80%;
      }
    }

    .app__principal-info {
      display: flex;
      flex-direction: column;
      gap: 64px;
      margin-right: 364px;
      width: 353px;

      @media (max-width: 1450px) {
        margin-right: 124px;
        
      }

      @media (max-width: 768px) {
        margin: 0;
        width: 90%;
      }
      
      .app__principal-description {
        color: @dark;
        font-family: @font-family-outfit;
        font-size: @fs-body-m;
        font-weight: @fw-regular;
        line-height: @line-body-m;
        
        @media (max-width: 1024px) {
          font-size: @fs-body-s;
          line-height: @line-body-s;
        }

        @media (max-width: 768px) {
          margin: 0;
        }
      }

    }
  }

  .app__secondary {
    margin-top: 25rem;
    margin-bottom: 10rem;
    padding: .8rem;

    @media (max-width: 768px) {
      margin-top: 8rem;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 445px);
      grid-auto-rows: 350px;
      width: 90%;
      margin: auto;
      justify-content: center;
      gap: 30px;

      @media(max-width: 1450px) {
        grid-template-columns: repeat(3, 295px);
        gap: 15px;
      }

      @media(max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        height: 1140px;
      }

      @media(max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        height: 1605px;
        grid-auto-rows: 1fr;
      }


      .grid-item-one {
        grid-column: 1;

        >* {
          margin-bottom: 30px;
        }
        
        .title {
          font-family: @font-family-shoulders;
          font-size: @fs-heading-m;
          font-weight: @fw-extra-bold;
          text-transform: uppercase;
          line-height: calc(@line-heading-l - 10px);

          @media (max-width: 1024px) {
            font-size: calc(@fs-heading-m - 10px);
            line-height: calc(@line-heading-m - 5px);
          }

        }
        
        .description {
          color: @dark;
          font-size: @fs-body-m;
          font-family: @font-family-outfit;
          font-weight: @fw-regular;
          line-height: @line-body-m;

          @media(max-width: 1024px) {
            font-size: @fs-body-s;
            line-height: @line-body-s;
          }
        }

        @media(max-width: 768px) {
          grid-row: 2;
          grid-column: 1;
        }
      }

      .grid-item-two {
        grid-column: 2 / span 2;
        background-image: url("../assets/desktop/image-grid-1.jpg");
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: 750px;

        @media(max-width: 1450px) {
          background-size: 550px;
        }

        @media(max-width: 1024px) {
          background-size: cover;
          background-position: center;
          grid-column: 2;
        }

        @media(max-width: 768px) {
          grid-row: 1;
          grid-column: 1;
        }

      }

      .grid-item-three {
        grid-row: 2 / span 2;
        grid-column: 1 / 3;
        background-image: url("../assets/desktop/image-grid-2.jpg");
        background-repeat: no-repeat;
        background-size: 920px 730px;

        @media(max-width: 1450px) {
          background-size: cover;
        }

        @media(max-width: 1024px) {
          background-size: 100% 100%;
          background-position: center;
          grid-column: 1;
        }

        @media(max-width: 768px) {
          grid-row: 3 / span 2;
          grid-column: 1;
        }

      }
      
      .grid-item-four {
        grid-row: 2;
        background-image: url("../assets/desktop/image-grid-3.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        @media(max-width: 1450px) {
          background-size: cover;
          background-position: center;
        }

        @media(max-width: 1024px) {
          background-size: cover;
          background-position: center;
          grid-row: 2;
          grid-column: 2;
        }

        @media(max-width: 768px) {
          grid-row: 5;
          grid-column: 1;
        }
      }

      .grid-item-five {
        grid-row: 3;
        grid-column: 3;
        background: @black;
        background-size: 445px 700px;
        color: @white;
        text-align: start;
        padding: 3rem 1.5rem;

        >* {
          margin-bottom: 30px;
        }
        
        .title {
          font-family: @font-family-shoulders;
          font-size: @fs-heading-m;
          font-weight: @fw-extra-bold;
          text-transform: uppercase;
          line-height: calc(@line-heading-l - 10px);

          @media (max-width: 1024px) {
            font-size: calc(@fs-heading-m - 10px);
            line-height: calc(@line-heading-m - 5px);
          }
        }
        
        .description {
          font-size: @fs-body-m;
          font-family: @font-family-outfit;
          font-weight: @fw-regular;
          line-height: @line-body-m;

          @media(max-width: 1024px) {
            font-size: @fs-body-s;
            line-height: @line-body-s;
          }
        }

        @media(max-width: 1024px) {
          grid-row: 3;
          grid-column: 2;
        }

        @media(max-width: 768px) {
          grid-row: 6;
          grid-column: 1;
        }
      }
    }

  }
}

.app__ubication {
  background: @black;
  color: @white;
  display: flex;
  justify-content: space-around;
  height: 548px;
  padding: 10rem 5rem;

  @media (max-width: 1024px) {
    justify-content: center;
    gap: 68px;
    padding: 8rem 5rem;
    height: 380px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }

  .app__ubication-title {
    font-family: @font-family-shoulders;
    font-size: @fs-heading-m;
    font-weight: @fw-extra-bold;
    line-height: @line-heading-l;
    text-transform: uppercase;

    @media (max-width: 1024px) {
      font-size: calc(@fs-heading-m - 5px);
      line-height: calc(@line-heading-l - 10px);
    }

    @media (max-width: 768px) {
      font-size: calc(@fs-heading-m - 10px);
      line-height: calc(@line-heading-m - 5px);
      
    }
  }

  .app__ubication-info {
    color: @white;
    display: flex;
    flex-direction: column;
    font-family: @font-family-outfit;
    font-size: @fs-body-m;
    font-weight: @fw-regular;
    gap: 24px;
    line-height: @line-body-m;
    width: 540px;

    @media (max-width: 1024px) {
      font-size: @fs-body-s;
      line-height: @line-body-s;
    }

    @media (max-width: 768px) {
      width: auto;
    }

    .app__ubication-street {
      color: @gold;
      font-family: @font-family-shoulders;
      font-size: @fs-heading-s;
      font-weight: @fw-extra-bold;
      line-height: @line-heading-s;
      text-transform: uppercase;

      @media (max-width: 1024px) {
        font-size: calc(@fs-heading-s - 4px);
        line-height: calc(@line-heading-s - 4px);
      }
    }

    .app__ubication-address {
      list-style-type: none;

    }
  }
}

.app__footer.index {
  background: @black;
  color: @white;
}

.app__footer.location {
  background: @gold;
  color: @black;
}

.app__footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem 15rem;
  gap: 64px;

  @media (max-width: 1450px) {
    padding: 2rem 7.5rem;
  }

  @media (max-width: 1024px) {
    padding: 2rem 1rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 2rem 2rem;
  }

  .app__footer-logo {
    height: 58px;
    width: 159.572px;
  }

  .app__footer-description {
    font-size: @fs-body-s;
    font-family: @font-family-outfit;
    font-weight: @fw-regular;
    line-height: @line-body-s;
    width: 430px;

    @media (max-width: 1024px) {
      font-size: calc(@fs-body-s - 2px);
      line-height: calc(@line-body-s - 2px);
      width: 290px;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

  }

  .app__footer-icons {
    list-style: none;
    display: flex;
    gap: 30px;
  }
}
